{% extends 'base.html' %}

{% block title %}
    Detalles de {{ preguntas.titulo }}
{% endblock %}


{% block extra_css %}

{% endblock %}


{% block extra_head %}
{% endblock %}

{% block content %}

<h1>Detalles de Preguntas</h1>

<p>Texto: {{ pregunta.texto_pregunta }}</p>
<p>Encuesta: {{ pregunta.encuesta }}</p>
<p>Respuesta: {{ pregunta.respuesta }}</p>
<p>Fecha de creacion: {{ pregunta.fecha_creacion }}</p>
<p>Fecha de actualizacion: {{ pregunta.fecha_actualizacion }}</p>
{% if user.is_authenticated %}
<div>
    <a href="{% url 'editar_pregunta' pregunta.id %}">Editar</a>
</div>
<div>
    <a href="{% url 'eliminar_pregunta' pregunta.id %}">Eliminar</a>
</div>
<div>
    <a href="{% url 'listar_preguntas' %}">Lista</a>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
{% endblock %}