{% extends 'base.html' %}

{% block title %}
    Eliminar Pregunta
{% endblock %}


{% block extra_css %}

{% endblock %}


{% block extra_head %}
{% endblock %}

{% block content %}
<h1>Eliminar Pregunta</h1>
<p>¿Estás seguro de que deseas eliminar la pregunta "{{ pregunta.texto_pregunta }}"?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
    <a href="{% url 'listar_preguntas' %}">Cancelar</a>
</form>


{% endblock %}

{% block extra_js %}
{% endblock %}